@import "reset";

.top_box{
    height: 38px;
    background: #000;
    min-width: 1200px;

    .top_cont{
        width: 1200px;
        height: 38px;
        line-height: 38px;
        color: #fff;
        margin: 0 auto;

        .login_out{
            margin-top: 11px;
            cursor: pointer;
            float: right;
            height: 14px;
            line-height: 14px;
            padding: 0 10px;
            border-right: 1px solid #fff;

            .top_login{
                font-size: 13px;
            }
        }

        .index_out{
            margin-top: 11px;
            cursor: pointer;
            float: right;
            height: 14px;
            line-height: 14px;
            padding: 0 10px;
            border-right: 1px solid #fff;

            .index{
                font-size: 13px;
            }
        }
    }
}


.top_logo{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;

    .top_logo_left{
        float: left;
    }

    .top_logo_right{
        float:right;
    }
}

.buycard{
    color: #000;
    background: #fff;
    margin-top: 40px;
    width: 1200px;
    margin: 0 auto;
}

.buycard .cart_main .bc_table table{
    width: 100%;
    border: 1px solid #d9d8d6;
    border-bottom: 0;
    margin-bottom: 10px;
}

.buycard .cart_main .bc_table table tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.buycard .cart_main .bc_table table tbody tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.buycard .cart_main .bc_table table tbody tr th{
    height: 36px;
    line-height: 36px;
    font-weight: normal;
    font-size: 15px;
    background: #f8f8f8;
    text-align: center;
    border-bottom: 1px solid #d9d8d6;
}

.buycard .cart_main .bc_table table tbody tr td{
    font-size: 14px;
    padding: 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #d9d8d6;
}

.buycard .cart_main .bc_table table tbody 
tr .bc_table_sel a{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../images/shopping/ia_100000025.png) -167px -4px;
}

.buycard .cart_main .bc_table table tbody 
tr .bc_table_img a img{
    height: 115px;
    width: 115px;
}

.buycard .cart_main .bc_table table tbody 
tr .bc_proname{
    text-align: left;
}

.buycard .cart_main .bc_table table tbody 
tr .bc_proname a{
    color: #000;
}

.buycard .cart_main .bc_table table tbody 
tr .bc_proname .bc_service{
    padding-top: 5px;
    position: relative;
}

.buycard .cart_main .bc_table table tbody 
tr .bc_proname .bc_service .bc_add{
    color: #e2231a;
}

.buycard .cart_main .bc_table table tbody 
tr td .i_box{
    display: block;
    width: 94px;
    margin: 0 auto;
}

.buycard .cart_main .bc_table table tbody 
tr td .i_box .pro_less{
    width: 20px;
    height: 20px;
    background: #eee;
    float: left;
    border: 1px solid #d2d2d2;
}

.buycard .cart_main .bc_table table tbody 
tr td .i_box .pro_num{
    width: 54px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    float: left;
    border: 0;
    border-top: 1px solid #d9d8d6;
    border-bottom: 1px solid #d9d8d6;
    font-size: 14px;
}

.buycard .cart_main .bc_table table tbody 
tr td .i_box .pro_add{
    width: 20px;
    height: 20px;
    background: #eee;
    float: left;
    border: 1px solid #d2d2d2;
}

.buycard .cart_main .bc_table table tbody 
tr .bc_red{
    color: red

}


.buycard .cart_main .bc_num{
    border: 1px solid #d9d8d6;
    background: #f8f8f8;
    margin-top: 15px;
    padding: 14px 15px;
}

.buycard .cart_main .bc_num .bc_num_left{
    float: left;
    font-size: 13px;
}

.buycard .cart_main .bc_num .bc_num_left .bc_num_del{
    float: left;
    margin-left: 28px;
    color: #000;
}

.buycard .cart_main .bc_num .bc_num_right{
    float: right;
    text-align: right;
    font-size: 16px;
}

.buycard .cart_main .bc_num .bc_num_right li{
    margin-top: 13px;
}

.buycard .cart_main .bc_num .bc_num_right .zongjia{
    margin-top: 0;
}

.buycard .cart_main .bc_num .bc_num_right li .bc_red{
    font-size: 18px;
    color: #e2231a;
}


.buycard .cart_main .bc_probtn{
    padding: 15px 0 55px 0;
}

.buycard .cart_main .bc_probtn a{
    float: right;
    width: 160px;
    height: 38px;
    line-height: 38px;
    background: #e2231a;
    border: 1px solid #d9d8d6;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
